<!--footer.tmpl-->
{{ define "footer" }}
        <footer>
            Powered by <a href='https://golang.org/'>Go</a> and <a href='https://htmx.org/'>htmx</a>
        </footer>
    </body>
</html>
{{ end }}
