<!--index.tmpl-->
{{ define "index" }}
{{ template "header" .}}
    <h1>Contacts</h1>
        <form action="/contacts" method="get" class="tool-bar">
            <label for="search">Search Term</label>
            <input id="search" type="search" name="q" value="{{ .q }}"/>
            <input type="submit" value="Search"/>
        </form>
        <table>
            <thead>
            <tr>
                <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
            <tr>
            </thead>
            <tbody>
            {{ range .payload }}
                <tr>
                    <td>{{ .First }}</td>
                    <td>{{ .Last }}</td>
                    <td>{{ .Phone }}</td>
                    <td>{{ .Email }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
{{ template "footer" . }}
{{end}}
