<!--index.tmpl-->
{{ define "index" }}
{{ template "header" .}}
    <h1>Contacts</h1>
        <table>
            <thead>
            <tr>
                <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
            <tr>
            </thead>
            <tbody>
            {{ range .payload }}
                <tr>
                    <td>{{ .First }}</td>
                    <td>{{ .Last }}</td>
                    <td>{{ .Phone }}</td>
                    <td>{{ .Email }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
{{ template "footer" . }}
{{end}}
